/// Styling the very base.jade, only absolute
/// generic settings
html
	overflow hidden // avoid 'overscrolling' of page with trackpad
//
body
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
