doctype html
html(lang="en", ng-app="AppPlatform" ng-strict-di)
	head
		title AppPlatform
		link(rel="stylesheet", href="/css/all.css")


	body.body-style(ng-controller="AppCtrl")

		ui-view#uiRouterId

		///- Socket.io from port :3000
		//- script(type='text/javascript').
		//- 	var socketBaseUrl = location.protocol + '//' + location.hostname + ':3000/socket.io/socket.io.js';
		//- 	document.body.appendChild(document.createElement("script")).src = socketBaseUrl;
		///- Remaining dependencies
		script(src="components/angular/angular.js")
		script(src="components/angular-ui-router/release/angular-ui-router.js")
		script(src="components/angular-resource/angular-resource.js")
		script(src="components/angular-sanitize/angular-sanitize.js")
		script(src="components/angular-mocks/angular-mocks.js")
		script(src="components/async/lib/async.js")
		script(src="components/jquery/dist/jquery.js")
		script(src="components/bowser/bowser.js")
		script(src="components/Caret.js/dist/jquery.caret.js")
		script(src="js/bundle.js")
