doctype html
html(lang="en", ng-app="AppPlatform" ng-strict-di)
	head
		title AppPlatform
		link(rel="stylesheet", href="/css/all.css")
		link(rel="stylesheet", href="//cdn.quilljs.com/1.2.0/quill.snow.css")
		link(rel="stylesheet", href="//cdn.quilljs.com/1.2.0/quill.bubble.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

	body.body-style(ng-controller="AppCtrl")

		ui-view#uiRouterId

		///- Socket.io from port :3000
		script(src="http://localhost:3000/socket.io/socket.io.js")

		///- Remaining dependencies
		script(src="components/angular/angular.js")
		script(src="components/angular-ui-router/release/angular-ui-router.js")
		script(src="components/angular-bootstrap/ui-bootstrap.js")
		script(src="components/angular-resource/angular-resource.js")
		script(src="components/angular-sanitize/angular-sanitize.js")
		script(src="components/angular-mocks/angular-mocks.js")
		script(src="components/async/lib/async.js")
		script(src="components/jquery/dist/jquery.js")
		script(src="components/bowser/bowser.js")
		script(src="components/Caret.js/dist/jquery.caret.js")
		script(src="//cdn.quilljs.com/1.2.0/quill.js")
		script(src="js/bundle.js")
