.home-main-container
	width 60%
	height 85%
	margin-top 5%
	margin-left 20%

.convertion-home-header
	width 100%
	height 11%

.convertion-home-header-left
	height 100%
	text-align center

.convertion-home-header-right
	background-color red
	height 100%

.convertion-home-content-title
	background-color yellow
	width 100%
	height 11%

.convertion-home-content-list
	background-color green
	width 100%
	height 78%

.convertion-home-header-title
	line-height: inherit
