
div.home-main-container
	div.row.convertion-home-header
		div.col-sm-6.convertion-home-header-left
			h1.convertion-home-header-title Convertions
		div.col-sm-6.convertion-home-header-right
		//- button.btn.btn-primary(id="btn-append-to-body" type="button")
	div.row.convertion-home-content-title
	div.row.convertion-home-content-list
