
div.home-main-container
	div.row.conversion-home-header
		div.col-sm-6.conversion-home-header-left
			h1.conversion-home-header-title.center Convertions
		div.col-sm-6.conversion-home-header-right
			button.btn.btn-primary.center(type="button" ng-click='ctrl.goToCreate()')
				span + New Convertion
	div.row.conversion-home-content-title
		div.col-sm-4.home-menu-left
			p.center Name
		div.col-sm-6.home-menu-center
			div.col-xs-6.home-xs-menu
				p.center Created at
			div.col-xs-3.home-xs-menu
				p.center Type
			div.col-xs-3.home-xs-menu
				p.center Status
		div.col-sm-2.home-menu-right
	div.row.conversion-home-content-list
		div.display-conversion-row(ng-repeat='file in ctrl.listFiles')
			div.col-sm-4
				p.center(ng-bind='file.title')
			div.col-sm-6
				div.col-xs-6.home-conversion-display-date
					p.center(ng-bind='file.created')
				div.col-xs-3
					p.center(ng-bind='file.type')
				div.col-xs-3
					loading-animation.center(ng-if='file.status === "progress"')
					check-animation.center(ng-if='file.status === "complete"')
			div.col-sm-2
				div.btn.btn-primary.btn-success.center(ng-click='' ng-class="{'home-disable-download-btn': file.status === 'progress'}")
					span.glyphicon.glyphicon-download-alt
					|  Download
