
#alert_placeholder.alert-home-placeholder
div.home-main-left-menu.col-sm-3
	div.home-main-left-menu-header
	div.home-main-left-menu-header-body
		i.fa.fa-file-o.fa-2x.home-main-left-menu-header-row(ng-click='ctrl.selectAllFiles()')
			span All Files
		i.fa.fa-clock-o.fa-2x.home-main-left-menu-header-row(ng-click='ctrl.selectRecentActivity()')
			span Recent Activity
		i.fa.fa-folder-open.fa-2x.home-main-left-menu-header-row(ng-click='ctrl.selectFolders()')
			span Folders
div.home-main-container.col-sm-9
	div.row.conversion-home-header
		div.col-sm-6.conversion-home-header-left
			h1.conversion-home-header-title.center Convertions
		div.col-sm-6.conversion-home-header-right
			button.btn.btn-primary.center(type="button" ng-click='ctrl.goToCreate()')
				span + New Convertion
	div.row.conversion-home-content-title
		div.col-sm-4.home-menu-left
			p.center Name
		div.col-sm-6.home-menu-center
			div.col-xs-6.home-xs-menu
				p.center Created at
			div.col-xs-3.home-xs-menu
				p.center Type
			div.col-xs-3.home-xs-menu
				p.center Status
		div.col-sm-2.home-menu-right
	div.row.conversion-home-content-list
		div.display-conversion-row(ng-repeat='file in ctrl.listFiles')
			div.col-sm-4
				i.fa.fa-file-pdf-o.fa-2x.home-file-list-icon(ng-if='file.type === "PDF"')
				i.fa.fa-code.fa-2x.home-file-list-icon(ng-if='file.type === "HTML"')
				p.center(ng-bind='file.title')
			div.col-sm-6
				div.col-xs-6.home-conversion-display-date
					p.center(ng-bind='file.created')
				div.col-xs-3
					p.center(ng-bind='file.type')
				div.col-xs-3
					loading-animation.center(ng-if='file.status === "progress"')
					check-animation.center(ng-if='file.status === "complete"')
			div.col-sm-2
				a.btn.btn-primary.btn-success.center( ng-if="file.status === 'complete'" href="/api/conversion/{{file.type}}/{{file._id}}/download" target="")
					span.glyphicon.glyphicon-download-alt
					|  Download
				a.btn.btn-primary.btn-success.center.home-disable-download-btn( ng-if="file.status === 'progress'" href="" target="")
					span.glyphicon.glyphicon-download-alt
					|  Download
