
div.create-main-container
	div.row.create-title
		h1 New Convertion
	div.row.create-quill-main-container
		#editor-container
	div.row.create-footer
		div.col-sm-6
			div.drop-down-main-container
				p.create-converion-type Convert to:
				.btn-group(uib-dropdown='', is-open='status.isopen')
					button#single-button.btn.btn-primary(type='button', uib-dropdown-toggle='', ng-disabled='disabled')
						| {{ctrl.dropSelect}} 
						span.caret
					ul.dropdown-menu(uib-dropdown-menu='' role='menu' aria-labelledby='single-button')
						li(role='menuitem' ng-click='ctrl.setDropValue(type)' ng-repeat='type in ctrl.convListTypes')
							div.create-drop-down-select
								span(ng-bind='type')
		div.col-sm-6
			div.create-final-button-container.center
				div.btn.btn-lg.btn-success(ng-click='ctrl.convertFile()')
					span.glyphicon.glyphicon-file
					|  Convert
				div.btn.btn-lg.btn-danger(ng-click='ctrl.cancelConvertion()')
					span.glyphicon.glyphicon-remove-circle
					|  Cancel
