
div.home-main-container
	div.row.create-title
		h1 New Convertion
	div.row
	div.row.create-quill-main-container
		#editor-container
		div.col-sm-6
			div.create-final-button-container.center
				div.btn.btn-lg.btn-success(ng-click='')
					span.glyphicon.glyphicon-file
					|  Convert
				div.btn.btn-lg.btn-danger(ng-click='')
					span.glyphicon.glyphicon-remove-circle
					|  Cancel
