
div.create-main-container
	div.row.create-title
		h1 New Convertion
	div.row.create-quill-main-container
		#editor-container
	div.row.create-footer
		div.col-sm-6
			.dropdown
				button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
					| Dropdown
					span.caret
				ul.dropdown-menu(aria-labelledby='dropdownMenu1')
					li
						a(href='#') Generate HTML
					li
						a(href='#') Generate PDF
					li
						a(href='#') Something else here
					li.divider(role='separator')
					li
						a(href='#') Separated link

		div.col-sm-6
			div.create-final-button-container.center
				div.btn.btn-lg.btn-success(ng-click='')
					span.glyphicon.glyphicon-file
					|  Convert
				div.btn.btn-lg.btn-danger(ng-click='')
					span.glyphicon.glyphicon-remove-circle
					|  Cancel
